/*
NAVBAR PART GOES HERE BRUUUUUUUUU LOLOLOLOLOLL*/

body {
  margin: 0;
  font-family: 'Allura', cursive;
}



.navbar {
  background-color: #4A7B61;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  width: 140%;
}

.left{
  display: flex;
  align-items: center;
  gap: 15rem;
}

@media (max-width: 768px) {

}
.logo {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: 5.5rem;
  transform: scale(1.5); 
  transform-origin: left center; 
}

.container {
  width: 80%;
  height: auto; 
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
}

.star {
  background-color: #F8AD50;
  color: #4A7C5D;
  border-radius: 50%;
  width: 3rem;      
  height: 3rem;     
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;  
}

.brand {
  font-size: 30px;
  color: white;
  font-weight: bold;
  font-family: 'Allura', cursive;
}

.scribble svg path {
 
  stroke-dasharray: 800; 
  stroke-dashoffset: 800; 
  animation: drawScribble 3s ease-out forwards; 
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 7.5rem;
  font-family: sans-serif;
margin-right: 5rem;
}



.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  transition: color 0.3s ease; 
    font-size: 25px;
}

.nav-links a.active {
  color: #FFD700;
}

.nav-links a:hover {
  color: #FFD700;
}

.navbar {
  padding: 4rem 5rem; 
}
/*
NAME AND INTRO GOES HERE BRUUUU LLLOLOLOLLLOLOL (HEROO)
*/
.intro{
    font-family: 'Poppins', sans-serif;
    margin-left: 65px;
    font-size: 40px;
    color: white;
    margin-top: -350px;
    margin-bottom: 10px;
   
}
.name{
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
    font-size: 100px;
    color: white;
 z-index: 1;
    margin-top: 5px;
    position: relative;
letter-spacing: 10px;
 -webkit-text-stroke: 4px black;
}
.hero-image {
  position: absolute;
  z-index: 0; 
  left: 30rem;
  top: 250px; 
}

.hero-image img {
  width: 40rem;
  height: 40rem;
  border-radius: 50%; 
  object-fit: cover;

}

.hero{
  padding-left: 8rem;
  margin-top: 5rem;
}
/*
QUOTES GOES HEREEEE
*/

.quote-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 5rem;
  width: 103%;
  box-sizing:content-box;
  margin-top: -140px;
  left: 30px;
}

.quote-section {
  max-width: 800px;
  padding: 80px;
   font-family: 'Poppins', sans-serif;
  position: relative;
  color: white;
}

.quote-symbol {
  font-size: 140px;
  line-height: 0.5;
  position: absolute;
  top: 35px;
  left: 10px;
  color: white;
}

.quote-text{
  font-size: 55px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    
    line-height: 95px; 
}
.subtext{
font-size: 25px;
font-family: 'Poppins', sans-serif;
letter-spacing: 1.5px;

line-height: 20px; 
}
.description{
font-size: 20px;
font-family: 'Poppins', sans-serif;
font-weight: 0;
letter-spacing: 1.5px;
line-height: 45px; 
}

.hero-quote-wrapper {
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 4rem;
  gap: 4rem;
}
.quote-line {
  height: 10px;
  background-color: #FFFFFF; 
  width: 60rem;              
  margin-top: 100px;
  border-radius: 5px;        
  padding-left: 100px;
}
@keyframes drawScribble {
  100% {
      stroke-dashoffset: 0; 
  }
}

/*works*/

.gallery-box {
  margin-top: -20px; 
  width: 96%;
  height: 850px;
  background-color: #1f4e39; 
  margin-left: 30px;
  margin-right: auto;
  border-radius: 3px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.piano1 {
  display: flex;
  margin-left: 90px;
  position: relative;
  top: 50px; 
}
.title1{
  font-size: 8px;
  color: white;
font-family: 'Poppins', sans-serif;
margin-left: 200px;
margin-top: 65px;
}

.piano2 {
  display: flex;
  margin-left: 90px;
  position: relative;
  top: 50px;
}
.title2{
  font-size: 8px;
  color: white;
font-family: 'Poppins', sans-serif;
margin-left: 180px;
margin-top: 65px;
}
.title3{
  font-size: 8px;
  color: white;
font-family: 'Poppins', sans-serif;
margin-left: 750px;
margin-top: -787px;
}
.draw{
  display: flex;
  margin-left: 650px;
  position: relative;
  top: -790px;
}

.sheet{
  display: flex;
  margin-left: 650px;
  position: relative;
  top: 45px;
}
.title4{
  font-size: 8px;
  color: white;
font-family: 'Poppins', sans-serif;
margin-left: 700px;
margin-top: 60px;
}

.clarinet{
  display: flex;
  margin-left: 1250px;
  position: relative;
  top: -780px;
}
.title5{
  font-size: 8px;
  color: white;
font-family: 'Poppins', sans-serif;
margin-left: 1300px;
margin-top: -780px;
}

.violin{
  display: flex;
  margin-left: 1250px;
  position: relative;
  top: 50px;
}
.title6{
  font-size: 8px;
  color: white;
font-family: 'Poppins', sans-serif;
margin-left: 1270px;
margin-top: 60px;
}

/*Contact*/

.contact-container{
    margin-top: -20px; 
  width: 65%;
  height: 850px;
  background-color: #212C19; 
  margin-left: 0px;
  margin-right: auto;
  border-radius: 3px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.contact-container1{
    margin-top: -850px; 
  width: 45%;
  height: 850px;
  background-color: #3E4D33; 
  margin-left: 1100px;
  margin-right: auto;
  border-radius: 3px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.contact-container2{
    margin-top: -700px; 
  width: 58%;
  height: 700px;
  background-color: #2D3C22; 
  margin-left: 300px;
  margin-right: auto;
  border-radius: 3px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.instagram{
  display: flex;
  margin-left: 30px;
  position: relative;
  top: 50px;
}

.utube{
  display: flex;
  margin-left: -270px;
  position: relative;
  top: 220px;
}
.wa{
  display: flex;
  margin-left: 1200px;
  position: relative;
  
}